# 项目相关配置
core:
  # 名称
  name: OpenHis
  # 版本
  version: 0.5.0
  # 版权年份
  copyrightYear: 2025
  # 文件路径
  profile: D:/home/uploadPath
  # 获取ip地址开关
  addressEnabled: false
  # 验证码类型 math 数字计算 char 字符验证
  captchaType: math

# 开发环境配置
server:
  # 服务器的HTTP端口，默认为18080
  port: 18080
  servlet:
    # 应用的访问路径
    context-path: /openhis
  tomcat:
    # tomcat的URI编码
    uri-encoding: UTF-8
    # 连接数满后的排队数，默认为100
    accept-count: 1000
    threads:
      # tomcat最大线程数，默认为200
      max: 800
      # Tomcat启动初始化的线程数，默认值10
      min-spare: 100

# 日志配置
logging:
  level:
    org.openhis: debug
    com.whale: debug
    org.springframework: warn

# 用户配置
user:
  password:
    # 密码最大错误次数
    maxRetryCount: 5
    # 密码锁定时间（默认10分钟）
    lockTime: 10

# Spring配置
spring:
  main:
    allow-circular-references: true
  # 资源信息
  messages:
    # 国际化资源文件路径
    basename: i18n/messages
  profiles:
    active: H22010202493 # (天翼云)cloud （本地测试）test （本地）local （生产）prod (农大) nd (长大) cd  (师大)sd (红旗)hq (同一)ty
  # 文件上传
  servlet:
    multipart:
      # 单个文件大小
      max-file-size: 10MB
      # 设置总上传的文件大小
      max-request-size: 20MB
  # 服务模块
  devtools:
    restart:
      # 热部署开关
      enabled: true
  # 兼容旧版 Ant 风格匹配 TODO：后续统一修改URL路径，提高性能；李永祥 on 20251117
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
# token配置
token:
  # 令牌自定义标识
  header: Authorization
  # 令牌密钥
  secret: aBcDeFgHiJkLmNoPqRsTuVwXyZaBcDeFgHiJkLmNoPqRsTuVwXyZaBcDeFgHiJkLmNoPqRsTuVwXyZ
  # 令牌有效期（默认30分钟）
  expireTime: 1000

# MyBatis配置
mybatis-plus:
  # 搜索指定包别名
  typeAliasesPackage: com.whale.**,org.openhis.**
  # 配置mapper的扫描，找到所有的mapper.xml映射文件
  mapperLocations: classpath*:mapper/**/*Mapper.xml
  # 加载全局的配置文件
  configLocation: classpath:mybatis/mybatis-config.xml

# springdoc配置
springdoc:
#  packages-to-scan: org.openhis
  swagger-ui:
    # 修改Swagger UI路径
    path: /swagger-ui.html
    # 开启Swagger UI界面
    enabled: true
  api-docs:
    # 修改api-docs路径
    path: /v3/api-docs
    # 开启api-docs
    enabled: true
  group-configs:
    - group: 'whale'
      paths-to-match: '/whale/**'
      packages-to-scan: com.whale
    - group: 'openhis'
      paths-to-match: '/api/**'
      packages-to-scan: org.openhis
  default-flat-param-object: false


# 防止XSS攻击
xss:
  # 过滤开关
  enabled: true
  # 排除链接（多个用逗号分隔）
  excludes: /system/notice
  # 匹配链接
  urlPatterns: /system/*,/monitor/*,/tool/*


